#edu{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.eduTitle{
    font-size: 2rem;
   
    background:linear-gradient(to right, rgb(37, 5, 30) , rgb(51, 70, 78));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
   
    
    
}


.eduBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    cursor: pointer;
    
    
}

.eduBar{
    display: flex;
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    
    border-radius: 0.5rem;   
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-width: 5rem;
    
}
.eduBar:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 0.5rem 0.25rem rgba(8, 28, 37, 0.8);
   
}


.eduBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
   
    
}
@media screen and (max-width: 720px){
    .eduBarText>p{
        font-size: 2vw;
    }
    
}
@media screen and (max-width: 480px){
    .eduBarText>p{
        font-size: 2vw;
    }
    .eduBarImg{
        height: 2.25rem;
        width: 2.5rem;
    }
    .eduBarText>h2{
        font-size: 5vw;

    }
    
}