*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
   
        background: linear-gradient(90deg in oklab, blue, red);
      
    

    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

