#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 1rem;
    margin-top: -4rem;


}
.worksTitle{
    font-size: 2rem;
    margin: 1rem 0;
    background:linear-gradient(to right, rgb(37, 5, 30) , rgb(51, 70, 78));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.worksDesc{
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}

.worksImgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 20rem;
   
    
}

.worksImg{
    object-fit: contain;
    margin: 1rem;
    width: 100px;
    height: 100px;
}
.worksImg:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
}

.workBtn{
    padding: 0.5rem 2.5rem;
    margin: 3rem 0;
    background: white;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
}

@media screen and (max-width: 585px){
    .worksImg{
        height: 48vw;
    }
    
}